* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    max-width: 1140px;
    padding: 1% 5%;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Times New Roman', Times, serif;
    color: #555;
    max-width: 10px 0px;
}

a {
    color: white;
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

section,
footer,
header {
    margin-bottom: 10px;
}